bumpversion>=0.5.3
coverage>=4.5.1
flake8>=3.5.0
pytest>=3.8.2
pytest-runner>=4.2
pip>=18.1
spacy>=2.1.4
Sphinx>=1.8.1
sphinx-rtd-theme>=0.4.3
summa>=1.2.0
tox>=3.5.2
twine>=1.12.1
watchdog>=0.9.0
wheel>=0.32.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm